@import "mocha.css";

* {
    font-family: JetBrains Mono;
    font-size: 13px;
    min-height: 0.5px;
    border: none;
}

#waybar {
    /* background: transparent; */
    background: rgba(43, 48, 59, 0.25);
    color: @text;
    margin: 0.5px 0.5px;
    padding: 0.2rem;
}

tooltip {
    background: rgba(24, 24, 37, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: @lavender;
}
#workspaces {
    margin: 3px;
    background-color: @surface0;
}

#workspaces button {
    color: @maroon;
    border-radius: 1rem;
    padding: 0.2rem;
}

#workspaces button.focused {
    color: @surface0;
    background-color: @red;
    border-radius: 0rem;
}

#workspaces button.active {
    color: @mantle;
    border-radius: 0.2rem;
    background-color: @red;
}

#workspaces button:hover {
    color: @sky;
    border-radius: 0.2rem;
}

/* Network and audio */
#custom-notification,
#pulseaudio,
#network,
#bluetooth {
    padding: 0.2rem 0.65rem;
    margin: 0px;
    background-color: @surface0;
    border-radius: 0rem 0rem 0rem 0rem;
}

#custom-notification {
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    color: @lavender;
}

#pulseaudio {
    color: @maroon;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
}

#bluetooth {
    color: @blue;
}

#bluetooth.connected {
    color: @green;
}

#bluetooth.disabled {
    color: @mantle;
}

#network {
    border-radius: 0rem 0rem 0rem 0rem;
    background-color: @surface0;
}

#network.disconnected {
    color: @text;
}

#network.wifi {
    color: @text;
}

#custom-music,
#tray,
#backlight {
    padding: 0.1rem 0.4rem;
    margin: 0px 0.4rem;
    background-color: @surface0;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#clock {
    padding: 0.1rem 0.4rem;
    color: @peach;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    background-color: @surface0;
}

#backlight,
#battery {
    padding: 0.1rem 0.4rem;
    background-color: @surface0;
    margin: 0px;
}

#battery {
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    color: @green;
}

#battery.charging {
    color: @green;
}

#backlight {
    margin-left: 1rem;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    color: @yellow;
    padding-left: 0.5rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-power,
#custom-lock {
    padding: 0.1rem 0.6rem;
    background-color: @surface0;
}

#custom-power {
    color: @red;
    margin-left: 0.3rem;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
}

#custom-lock {
    color: @pink;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
