@import "mocha.css";

* {
    font-family: JetBrains Mono;
    font-size: 12px;
    min-height: 0.5px;
    border: none;
}

#waybar {
    /* background: transparent; */
    /* background: rgba(7, 21, 33, 0.77); */
    background: @crust;
    color: @text;
    margin: 0.5px 0.5px;
    /* padding: 0.2rem; */
}

tooltip {
    background-color: @mantle;
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: @lavender;
    background-color: @mantle;
}

#workspaces {
    margin: 3px;
    background-color: @mantle;
}

#workspaces button {
    color: @maroon;
    border-radius: 1rem;
    padding: 0.2rem;
}

#workspaces button.focused {
    color: @mantle;
    background-color: @red;
    border-radius: 0rem;
}

#workspaces button.active {
    color: @mantle;
    border-radius: 0.2rem;
    background-color: @red;
}

#workspaces button:hover {
    color: @sky;
    border-radius: 0.2rem;
}

/* Network and audio */
#custom-notification,
#pulseaudio,
#network,
#bluetooth,
#custom-power,
#backlight,
#custom-lock {
    padding: 0.2rem 0.65rem;
    margin: 0px;
    background-color: @mantle;
    border-radius: 0rem 0rem 0rem 0rem;
}

#custom-notification {
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    color: @lavender;
}

#pulseaudio {
    color: @maroon;
}

#bluetooth {
    border-radius: 0.3rem 0rem 0rem 0.3rem;
    color: @blue;
}

#bluetooth.connected {
    color: @green;
}

#bluetooth.disabled {
    color: @mantle;
}

#network {
    border-radius: 0rem 0rem 0rem 0rem;
    background-color: @mantle;
}

#network.disconnected {
    color: @text;
}

#network.wifi {
    color: @text;
}

#tray {
    padding: 0.1rem 0.4rem;
    margin: 0px 0.4rem;
    background-color: @mantle;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

#clock,
#cpu,
#mpris,
#custom-music,
#battery {
    padding: 0.2rem 0.5rem;
    color: @peach;
    /* background-color: @mantle; */
    background-color: @crust;
}

#clock {
    font-size: 13px;
}

#battery {
    padding: 0.1rem 0.4rem;
    background-color: @mantle;
    margin: 0px;
}

#battery {
    color: @green;
}

#backlight {
    color: @yellow;
}

#memory {
    color: @teal;
}

#memory.warning {
    color: @yellow;
}

#memory.critical {
    color: @red;
    animation-name: pulse;
    animation-duration: 1s;
}

#mpris,
#custom-music {
    color: @mauve;
    /* border-radius: 1rem; */
}

#custom-power {
    color: @red;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
}

#custom-lock {
    color: @pink;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

@keyframes flash {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.3;
        /* transform: translate(-50%, -50%) scale(1); */
    }
    50% {
        opacity: 0.9;
        /* transform: translate(-50%, -50%) scale(1.2); */
    }
}

@keyframes pulse {
    0% {
    }
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

@keyframes countUp {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    /* animation-name: blink; */
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: steps(25);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-direction: normal; */
}

@keyframes charging-pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

#battery.charging {
    color: @green;
    animation: charging-pulse 1s ease-in-out infinite;
}

#custom-gamemode {
    padding: 0 10px;
    font-size: 16px;
}

#custom-gamemode.on {
    color: @green; /* Green - matches your notification */
}

#custom-gamemode.off {
    padding: 0 12px;
    color: @overlay0;
}
