* {
    background-image: none;
    font-size: 18px;
    font-family: "JetBrains Mono";
}

@import "mocha.css";

window {
    background-color: @crust;
}

button {
    color: @text;
    background-color: @base;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @surface0;
    background-size: 10%;
}

button:hover {
    background-color: @surface0;
    background-size: 30%;
    color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 10px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 10px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

button:hover#logout {
    border-radius: 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

button:hover#suspend {
    border-radius: 0px 0px 10px 0px;
    margin : 0px 0px 0px 0px;
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 10px;
    margin : 0px 0px 0px 0px;
}


button:hover#shutdown {
    border-radius: 0px 0px 0px 10px;
    margin : 0px 0px 0px 0px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 10px;
    margin : 0px 0px 0px 0px;
}


button:hover#hibernate {
    border-radius: 0px 10px 0px 0px;
    /* border-radius: 0px 0px 0px 0px; */
    margin : 0px 0px 0px 0px;
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    border-radius: 0px 10px 0px 0px;
    margin : 0px 0px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 0px 0px 0px 0px;
}
